<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>535545675507-p90gckfqpsjs743pepjoqu7fmo5dki84.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.535545675507-p90gckfqpsjs743pepjoqu7fmo5dki84</string>
	<key>API_KEY</key>
	<string>AIzaSyCr8hHdzF9ZGzi4pQdr7bRKJqNZZtWKCuQ</string>
	<key>GCM_SENDER_ID</key>
	<string>535545675507</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crossclipV2</string>
	<key>PROJECT_ID</key>
	<string>crossclip-271415</string>
	<key>STORAGE_BUCKET</key>
	<string>crossclip-271415.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:535545675507:ios:b6f31239cce5d9a40b4186</string>
</dict>
</plist>